if jquery
	script(src=`${Url}${jquery_link}`)
    
if modernizr
	script(src=`${Url}${modernizr_link}`)
	
if wow
	script(src=`${Url}js/wow.min.js`)

if swiperjs
	script(src=`${Url}js/swiper.min.js`)

if popperjs
	script(src=`${Url}js/popper.min.js`)

if bootstrapjs
	script(src=`${Url}js/bootstrap.min.js`)

if tippyjs
	script(src=`${Url}js/tippy.min.js`)

if mainjs
	script(src=`${Url}js/scripts.js`)