if jquery
	script(src=`${Url}${jquery_link}`)

if modernizr
	script(src=`${Url}${modernizr_link}`)

if popperjs
	script(src=`${Url}js/popper.min.js`)

if tippyjs
	script(src=`${Url}js/tippy.min.js`)

if moment
	script(src=`${Url}js/moment.min.js`)

if daterangepicker
	script(src=`${Url}js/daterangepicker.js`)

if mainjs
	script(src=`${Url}js/main.js`)

if indexjs
	script(src=`${Url}js/index.js`)

if position_previewjs
	script(src=`${Url}js/position_preview.js`)