block Popup

- var ttcd = []
- ttcd.push({"id":"ttcd-1", "name":"Tạm dừng"})
- ttcd.push({"id":"ttcd-2", "name":"Đang chạy"})
- ttcd.push({"id":"ttcd-3", "name":"Hoàn tất"})
- ttcd.push({"id":"ttcd-4", "name":"Không chạy"})

- var ttqc = []
- ttqc.push({"id":"ttqc-1", "name":"Tạo mới"})
- ttqc.push({"id":"ttqc-2", "name":"Chờ duyệt"})
- ttqc.push({"id":"ttqc-3", "name":"Bị từ chối"})
- ttqc.push({"id":"ttqc-4", "name":"Đang chạy"})
- ttqc.push({"id":"ttqc-5", "name":"Tạm dừng"})
- ttqc.push({"id":"ttqc-6", "name":"Hoàn tất"})
- ttqc.push({"id":"ttqc-7", "name":"Dừng hoạt động"})
- ttqc.push({"id":"ttqc-8", "name":"Không chạy (chiến dịch đã tạm dừng)"})
- ttqc.push({"id":"ttqc-9", "name":"Không chạy (chờ lịch chạy)"})

- var lcd = []
- lcd.push({"id":"lcd-1", "name":"QC Zalo Official Account"})
- lcd.push({"id":"lcd-2", "name":"QC Website"})
- lcd.push({"id":"lcd-3", "name":"QC Bài viết"})
- lcd.push({"id":"lcd-4", "name":"QC Album-Bài hát-Video Clip"})
- lcd.push({"id":"lcd-5", "name":"Tối ưu hóa hiển thị bài PR"})
- lcd.push({"id":"lcd-6", "name":"QC Video"})
- lcd.push({"id":"lcd-7", "name":"QC sản phẩm trên Zalo"})

.popup-container#popup-filterCampaign
	.bl-popup-heading
		span Bộ lọc chiến dịch
		a.func-close-popup(href="javascript:void(0)")
			i.icz.icz-close
		a.func-next(href="javascript:void(0)") Reset
	.bl-popup-context.has-fixed
		.field.mb-4
			.control.has-icons-right.func-open-daterange
				input.input(type="text" placeholder="06/01/2020 - 13/01/2020")
				span.icon.is-right
					i.icz.icz-fill-calendar
		.checkbox-list
			h4.is-size-7.has-text-primary.has-text-weight-semibold Trạng thái chiến dịch
			each ttcdItem in ttcd
				.item-checkbox
					.input-group-checkbox.is-sr
						input(id=`${ttcdItem.id}` name="option" type="radio")
						label.label-custom(for=`${ttcdItem.id}`) #{ttcdItem.name}
			.mb-4
			h4.is-size-7.has-text-primary.has-text-weight-semibold Loại chiến dịch
			each lcdItem in lcd
				.item-checkbox
					.input-group-checkbox.is-sr
						input(id=`${lcdItem.id}` name="option" type="radio")
						label.label-custom(for=`${lcdItem.id}`) #{lcdItem.name}
		.bottom
			button.button.is-primary.is-large.is-fullwidth Áp dụng bộ lọc

.popup-container#popup-filterAd
	.bl-popup-heading
		span Bộ lọc quảng cáo
		a.func-close-popup(href="javascript:void(0)")
			i.icz.icz-close
		a.func-next(href="javascript:void(0)") Reset
	.bl-popup-context.has-fixed
		.field.mb-4
			.control.has-icons-right
				input.input(type="text" placeholder="06/01/2020 - 13/01/2020")
				span.icon.is-right
					i.icz.icz-fill-calendar
		.checkbox-list
			h4.is-size-7.has-text-primary.has-text-weight-semibold Trạng thái quảng cáo
			each ttqcItem in ttqc
				.item-checkbox
					.input-group-checkbox.is-sr
						input(id=`${ttqcItem.id}` name="option" type="radio")
						label.label-custom(for=`${ttqcItem.id}`) #{ttqcItem.name}
			.mb-4
			h4.is-size-7.has-text-primary.has-text-weight-semibold Loại chiến dịch
			each lcdItem in lcd
				.item-checkbox
					.input-group-checkbox.is-sr
						input(id=`${lcdItem.id}` name="option" type="radio")
						label.label-custom(for=`${lcdItem.id}`) #{lcdItem.name}
		.bottom
			button.button.is-primary.is-large.is-fullwidth Áp dụng bộ lọc


