if jquery
	script(src=`${Url}${jquery_link}`)
    
if modernizr
	script(src=`${Url}${modernizr_link}`)
	
if wow
	script(src=`${Url}js/wow.min.js`)

if swiperjs
	script(src=`${Url}js/swiper.min.js`)

if fancyboxjs
	script(src=`${Url}js/jquery.fancybox.min.js`)

if videjs
	script(src=`${Url}js/jquery.vide.js`)

if mainjs
	script(src=`${Url}js/main.js`)