if jquery
	script(src=`${Url}${jquery_link}`)

if modernizr
	script(src=`${Url}${modernizr_link}`)

if countdown
	script(src=`${Url}js/TimezZ.js`)

//-js custom files

if questions_js
	script(src=`${Url}js/questions.js`)

if form_js
	script(src=`${Url}js/form.js`)
